/* Popins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Montserrat Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --primary: #ffffff;
  --secondary: #EBEBF5;
  --background: #f2f9ff;
  --text: #333;
  --drk: #00374B;
  --alt: #A9DFF9;

  --solid: #48319D;
  --lenearA: #3658B1;
  --lenearB: #C159EC;

  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}



body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: var(--text);
  line-height: 1.6;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: var(--background);
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 0
}

p {
  font-size: 14px;
  margin: 0;
}

main {
  max-width: 600px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
}

#weather-header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#weather-header h2 {
  font-size: 32px;
}

#weather-header span {
  font-size: 48px;
  font-weight: bold;
}

#weather-header p {
  font-size: 16px;
}

.weather-img {
  width: 256px;
  height: auto;
  margin: 0 auto;
}

#weather-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid var(--secondary);
  border-radius: 8px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 8px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.card-info {
  border: 1px solid var(--drk);
  border-radius: 4px;
  padding: 2px 4px;
  background-color: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(4px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card-basic {
  border: none;
  padding: 4px;
  background: transparent;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-info .card-icon {
  width: 64px;
  height: 64px;
}

.card-basic .card-icon {
  width: 48px;
  height: 48px;
}

.card-description {
  font-size: 14px;
  margin: 0;
}

#loading-spinner {
  display: none;
  width: 48px;
  height: 48px;
  margin: 20px auto;
  border: 3px solid var(--secondary);
  border-top: 3px solid var(--solid);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* Styles for mobile devices */
@media only screen and (max-width: 600px) {}

/* Styles for tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Add styles for tablet layout */
}

/* Styles for desktops */
@media only screen and (min-width: 1025px) {
  /* Add styles for desktop layout */
}